/* loading*/
.aa{
    width: 100%;
    height: 100vh;
}
.aa1{
  width: 100%;
  height: 100%;
}
.ww{
  background-size: cover;
  background-position: 50% 50%;
}
.slide1{

  background-image: url(./images/loading/1.jpg);
}
.slide2{
  background-image: url(./images/loading/2.jpg);
}
.slide3{
  background-image: url(./images/loading/3.jpg);
}
.slide4{
  background-image: url(./images/loading/4.jpg);
}
.slide5{
  background-image: url(./images/login/1.png);
}
.slide5 p{
  text-align: center;
  padding-top: 70vh;
  color: #333;
}
.slide5 a{
  display: block;
  margin-top: 10px;
  text-align: center;
  color: #333;
}
