*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.login-wrap{
  background-image: url(./images/loading/5.png);
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-position: 50% 50%;
  background-size: cover;
  justify-content: center;
}
.login-form{
  text-align: center;
  flex-grow: 1;
  padding-top: 60%;
}
.login-form input{
  border: none;
  display: flex;
  border-bottom: 1px solid #777;
  width: 80%;
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
  color: #666;
  border-radius: 3px;
}
.login-form a{
  display: inline-block;
  margin: 20px;
  font-size: 6vw;
  color: #777;
  text-decoration: none;
}
.login-radio{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.login-radio input{
  width: 16px;
  height: 16px;
  margin: 0;

}
.login-radio .a{
  color: #fff;
  font-size: 12px;
}
.login-ww{
  height: 20vw;
  display: flex;
  flex-direction: row;
  height: 80px;
  align-items: center;
  justify-content: space-around;
  flex-shrink:0;
}
.login-ww a{
  font-size: 14px;
  text-decoration: none;
  color: #777
}
.login-ww img{
  width: 24px;
  height: 24px;
  color: #fff;
  margin-right: 10px;
}
.zhuce{
  background: url(./images/loading/5.png);
  height: 100vh;
  color: red;
  display: flex;
  flex-direction: column;
  background-position: 50% 50%;
  background-size: cover;
  justify-content: center;
}
.zhuce form{
  padding-left: 20%;
}
.zhuce label {
  width: 20%;
  color: #00bcd4;
}
.zhuce input{
  color: #666;
}
.zhuce button{
  display: flex;
  background-color: #bada55;
  color: #00bcd4;
  margin: 20% 25%;
}
.zhuce span{
  color: red;
}
.sbtn1{
  border-radius: 0 4vh 4vh 0;
}
.sbtn2{
  border-radius: 4vh 0 0 4vh;
}
.midnav{
  height: 30vh;
}

.nav-footer{
  flex-shrink:0;
  width: 100vw;
  height:10vh;
  background-color: #000;
  display: flex;
  position: fixed;
  bottom: 0;
  justify-content: space-around;
  align-items: center;
  color:#fff
}
.nav-footer a{
  color:#424242;
  font-size: 1.4em;
  text-decoration: none;
  text-align: center;
  border-right: 1px solid rgba(0, 0, 0, 0.5);;
  flex-grow: 1;
}
.nav-footer a:last-children{
  border:none;
}

.person-wrap{
  display: flex;
  flex-direction: column;
  height:88vh;
}

/*header*/

/*footer*/

.headerpic{
  width: 10vw;
  height: 10vw;
  margin-right: 20px;
  position  : absolute;
  top: 60%;
  left: 90%;
  transform : translate(-50%,-50%);
}
.recdfirst{
  background-image: url(./images/recommend/tuijian/1.jpg);
  margin-bottom: 2vh;
  width: 100%;
  height: 28vh;
  background-size: 100% 100%;


  height: 30vh;
  background-size: 100% 100%;
  position: relative;
}
.recdfirst1{
  background-image: url(./images/recommend/tuijian/1.jpg);
  margin-bottom: 2vh;

  height: 30vh;
  background-size: 100% 100%;
  position: relative;

}
.recdfirst2{
  background-image: url(./images/recommend/tuijian/2.jpg);
  margin-bottom: 2vh;
}
.recdfirst3{
  background-image: url(./images/recommend/tuijian/3.jpg);
}



.recp{
  width:20vw;
  height:3vh;
  border-radius:15px 0 0 15px;
  background-color:#E53935;
  line-hight:30px;
  text-align:center;
  float:right;
  margin-top:2vh;

  color:#fff;
}





/*spreadtrum_clickShow*/


.xioage-h3{
  width: 20vw;
  background-color: 	#FF3030;
}
.cjy-p{
  background-color:	#FF3030;
  width: 20vw;
  text-align: center;
  border-radius: 20px;
  margin-left: -8px;
}
.cjy-p1{
  font-size: 12px;
  margin-left: 10px;
}
.cjy-p2{
  background-color:	#FF3030;
  width: 20vw;
  text-align: center;
  border-radius: 20px;
  margin-left: -8px;

}
.cjy-h6{
  margin-left: 10px;
}
.cjy-img{
  margin-top: 10px;
}
.xiaoge-img{
  margin-top: 10px;
}
.xiaoge-p1{
  background-color:	#FF3030;
  width: 20vw;
  text-align: center;
  border-radius: 20px;
  margin-left: -8px;
}
.xiaoge-p3{
  font-size: 10px;
}




.cf-nowshow{
  flex-grow: 1;
  height: 15vh;
  border-bottom: 1px #fff solid;
  background-color: #ccc;
  position: relative;
}
.cf-nowshow-img{
  position: absolute;
  top:3vw;
  left:6vw;
  width: 6vh;
  height: 6vh;
  border-radius: 5vh;
  background-image: url(./images/person/3.png);
}
.cf-nowshow-text{
  position: absolute;
  top:3vw;
  left:20vw;
}
.cf-nowshow-text p{
  margin: 0;
}
.cf-manyshow{
  flex-grow: 1;
  height: 6vh;
  background-color: #ccc;
  margin-top: 1.5vh;
  text-align: center;
  line-height: 6vh;
}
.cf-footer{
  background-color: #000;
  color:#fff;
  width: 100%;
  height: 10vh;
  position: fixed;
  left:0;
  bottom:0;
  z-index: 99;
  display: flex;
}
.cf-footer1,.cf-footer2,.cf-footer3,.cf-footer4{
  width: 25%;
  justify-content: space-around;
  text-align: center;
  line-height: 10vh;
}
.share-wrap{
  width:100%;
  height: 35vh;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: rgba(255, 255, 255, 0.7);;
  position: absolute;
  bottom:0;
  left:0;
  padding: 5vw;
}
