*{margin: 0;padding: 0}
.person-wrap{
  display: flex;
  flex-direction: column;
  height:88vh;
  width:100%;
  margin-left:0px;
  overflow-y: hidden;
}

.person-top{
  background-image: url(./images/person/1.png);
  display: flex;
  flex-direction: column;
  height:44vh;
  text-align: center;
  width: 100%;
  color:#fff;
  background-size: cover;
  border-bottom:4px solid #ccc
}
.person-top-icon{
  display: flex;
  justify-content: space-between;
  padding:10px 10px 0px 10px;
  font-size:20px;
}
.person-watch{
  display: flex;
  justify-content: space-around;
}
.person-center{
  display: flex;
  flex-direction: column;
  height:22vh;
  margin-bottom:5px;
}
.center-top{
  display: flex;
  justify-content: space-between;
  height:34px;
  justify-content: space-between;
  line-height:20px;
  padding:6px 0px 0px 6px;
}
.All{
  width:70px;
  height:24px;
  background-color:#E53935;
  line-height:24px;
  color:#ccc;
  padding-left:10px;
  border-top-left-radius: 12px ;
  border-bottom-left-radius: 12px;
}
.center-img{
  display: flex;
  height:56px;
  flex-flow: 1;
}
.center-img img{
  width: 100%;
  padding:5px;
}
.center-buttom{
  display: flex;
  justify-content: space-around;
  padding-top:6vh;
  color:#bbb
}
.person-bottom{
  display: flex;
  flex-direction: column;
  width:100%;
  height:22vh;
}
.person-bottom-img{
  width:100%;
  background-image: url(./images/littlepic/12.jpg);
  height:40px;
  background-size: cover;
}
.person-bottom-b{
  display: flex;
  flex-grow: 1;
  height:100px;
}
.person-bottom-b img{
  width: 50%;
  padding:2px;
}
.setting-wrap{
  display: flex;
  flex-direction: column;
  height:88vh;
  background-color:#E0F2F1;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 99;
}
.setting-top{
  display: flex;
  height:10vh;
  width:100%;
  background-image: url(./images/littlepic/15.png);
  background-size: cover;
  color:#bbb;
  font-size:24px;
  line-height: 50px;
  justify-content: space-between;
  padding: 10px;
  margin-bottom:10px;
}
.setting-center{
  display: flex;
  flex-direction: column;
  height:22vh;
  background-color: #EEEEEE;
  margin-bottom: 10px;
}
.center-content{
  display: flex;
  justify-content: space-between;
  border-bottom:1px solid #ccc;
  padding: 12px;
  color:#616161;
}
.setting-buttom{
  display: flex;
  flex-direction: column;
  background-color: #EEEEEE;
  margin-bottom: 10px;
  height:30vh;
}
.setting-footer{
  display: flex;
  flex-direction:column;
  text-align: center;
  width: 100%;
  height:18vh;
}
.sign-in{
background-color: red;
width:160px;
height:34px;
border-radius:17px;
line-height:34px;
color:#fff;
margin-left: 25%;
margin-top:10%;
margin-bottom:10px;
}
.now{
  font-size:8px;
  color:#616161;
}
.topimg-wrap{
  display: flex;
  flex-direction: column;
  height:88vh;
  background-color:#E0F2F1;
  overflow-y: hidden;
  position: absolute;
  width: 100%;
  z-index: 100;
}
.topimg-top{
  display: flex;
  height:10vh;
  width:100%;
  background-image: url(./images/littlepic/15.png);
  background-size: cover;
  color:#bbb;
  font-size:24px;
  line-height: 50px;
  justify-content: space-between;
  padding: 10px;
  margin-bottom:10px;
}
.topimg-center{
  display: flex;
  flex-direction: column;
  height:22vh;
  background-color: #EEEEEE;
  margin-bottom: 10px;
}
.topimg-center img{
  margin-top:-8px;
}
.topimg-content{
  display: flex;
  justify-content: space-between;
  border-bottom:1px solid #ccc;
  padding: 12px;
  color:#616161;
}
.topimg-buttom{
  display: flex;
  flex-direction: column;
  background-color: #EEEEEE;
  margin-bottom: 10px;
  height:30vh;
}
.avatar-wrap{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 88vh;
  background-color: rgba(0,0,0,0.1);
  position: absolute;
  top:0px;
}
.avatar-bottom{
  background-color: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
  height:20vh;
  padding-top:20px;
  cursor: pointer;
  position:absolute;
  top:60vh;
}
.avatar-choose{
  border-bottom:1px solid red;
}
.bgbig{
  background-image: url(./images/login/1.png);
  width:100%;
  height:88vh;
  -webkit-background-size: cover;
  background-size: cover;
}
.search{
  width:100%;
  height:12vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top:30px;
}
.search img{
  width: 5vw;
  height: 5vw;
  position: absolute;
}

.bga{
  background-color:rgba(255,255,255,0.5);
  width: 100%;
  height:76vh;
}
.bgsmail{
  width: 100%;
  height:76vh;
  -webkit-background-size: cover;
  background-size: cover;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.compoent{
  margin-top:12vh;
}
